
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/heroes">Heroes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/tester">Test</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/components">Components</a>
  </li>
</ul>
<h1>{{ title }}</h1>
<!-- <ul *ngFor = "let data of todolist">
  <li>Name : {{ data.id }}  title : {{ data.title }}</li> 
</ul> -->
<router-outlet></router-outlet>
<app-messages></app-messages>

