<p>
  tester works!
</p>
<div>
  <button (click)="dec()" title="smaller">-</button>
  <button (click)="inc()" title="bigger">+</button>
  <label [style.font-size.px]="num">FontSize: {{size}}px</label>
</div>

<button (click)="onSave()">Save</button>
<br>
<b>{{title | uppercase}}</b><br/>
<b>{{00.54565 | percent}}</b><br>
<b>{{ months | slice:2:6 }}</b>

<div>Month :
  <select (change) = "changeMonths($event)"> 
    <option *ngFor="let i of months">{{ i }}</option>
  </select>
</div>

<div>
  <span *ngIf="isVarilable; then condition1 else condition2">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
  <ng-template #condition1>Condition is valid</ng-template>
  <ng-template #condition2>Condition is invalid</ng-template>
</div>
<button (click)="myClickFunction($event)">Click Me</button>
<b>{{ toDayDate }}</b>


<div style="text-align:center">
  <span changeText >Welcome to {{title}}.</span>
</div>

<ul *ngFor = "let data of httpdata">
  <li>Name : {{data.name}} Address: {{data.address.city}}</li>
</ul>

<input [(ngModel)] = "username" value="{{num}}">
<p>Hello {{ username }}</p>

<li *ngFor="let mon of months">
  {{ mon }}
</li>

<li *ngFor="let hero of heroes">
  {{ hero.id }}  {{ hero.name }}
</li>

<p *ngIf="heroes.length > 2 ">COUNT 2</p>

<p>The sum of 1 + 1 is {{1 + 1}}</p>

<span [hidden]="isUnchanged">changed</span>

<button *ngFor="let hero of heroes" (click)="deleteHero(hero)">{{hero.name}}</button>

<!-- <app-hero-detail [hero]="currentHero"></app-hero-detail> -->
<app-hero-detail hero="currentHero"></app-hero-detail>

<button [style.font-size.em]="isSpecial ? 3 : 1" >Big</button>
<button [style.font-size.%]="!isSpecial ? 150 : 50" >Small</button>

<input [value]="currentHero.name"
       (input)="currentHero.name=$event.target.value" >

<br>
<input type="text" [(ngModel)] = "myMsg" placeholder="Enter message">
<p>Your message Will be show here : <span style="color:red;"> {{ myMsg }} </span></p>
<button (click)="onClickReset()"> Reset</button> <br>

<input #input1 type="text" (keyup)="onKeyUpVerify(input1.value)" placeholder="Enter name"> <br> 

<h2>Is Your wife napping</h2>
<h3>Yes: {{ agree }}, No: {{ disagree }}</h3>

<app-voter *ngFor="let voter of voters" (onVoted)="onVoted($event)" [name]="voter"></app-voter>

